body, .container {
    background-color: rgb(255, 212, 127);
}

.navbar {
    height: 5rem;
    background-color: white !important;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    /* !important is used to override bootstrap style s */
    color: #222222 !important;
}

