body {
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", serif !important;
}

.navbar {
    /* height: 5rem !important; */
    background-color: white !important;
}
.navbar-brand {
    border: none;
    text-decoration: none;

}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    /* !important is used to override bootstrap style s */
    color: #222222 !important;
}

/* All listings (index page: index.ejs) */
/* cards styling */
.card {
    border: none;
    
    margin-bottom: 2rem;
}
.card-link {
    text-decoration: none;
}
.card-img-top {
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0;
}
.card-text p {
    font-weight: 400 !important;
}
/* cards overlay effect - displaying white bg on image to poin that it is hovered */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}
/* Footer */
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.f-info-socials, .f-info-brand, .f-info-links{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
    /* padding: 0.2rem; */
}
.f-info-socials i:hover {
    color: #fe424d;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}